body {
    text-align: center;
    font-family: Arial;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 70px);
    grid-template-rows: repeat(2, 70px);
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.pit {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: burlywood;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}